{% extends '__base.html' %}
{% load static %}
{% block content %}
<h1>{{name}}</h1>
<p>{{description_short}}</p>
<hr>
<h3>Campaign Scenes</h3>
<a href="{% url 'content:create-scene' campaign_id %}" class="btn btn-primary">Create New Scene</a>
<div class="container-fluid">
  {% for scene in scenes %}
  <h2>
    {{ scene.name }}
    </button>
  </h2>
  <a href="{{scene.get_content_url}}"><strong>{{ scene.label }}.</strong></a>
  {% for node in scene.nodes %}
  {{node.name}} ({{node.label}})
  <img class='img-fluid' style="max-height:200px; max-width:200px;" src='{{node.background}}'>
  <br>FIRST TIME: {{node.display_text}}
  <br>REPEAT: {{node.display_text_visited}}
    {% for choice in node.choices %}
      <div class="card" style="width: 16rem">
        <img class='card-img-top' style="max-height:75px; max-width:75px;" src='{{choice.icon}}'>
        <div class="card-body">
          <strong class="card-title">{{choice.display_text}}</strong>
          <div class="card-text">{{choice.result_text}}</div>
        </div>
      </div>
    {% endfor %}

  {% endfor %}
  {% endfor %}
</div>
</div>


{% endblock content %}